<div class="menu">
  <div class="container">
    <div class="menu-heading">
      <h2>Our Menu</h2>
    </div>
    <div class="menu-top-grids">
      <div class="w3ls-menu-grids">
        <div class="col-md-3 menu-grid">
          <div class="agile-menu-grid">
            <a href="single.html">
              <img src="http://cdn.appicar.com/stores/menu/5kPxqXmRw6yyjfRLb/5aa06c7a84b554537f888855.jpg" alt="" />
              <div class="agileits-caption">
                <h4>Mozzarella Pizza</h4>
                <p>$ 120</p>
              </div>
            </a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
