<div class="background">
  <div class="banner">
    <div class="container">
      <div class="header">
        <div class="logo">
          <h1>
            <a href="/">
              <img alt="Appicar" src="../assets/images/logo.svg" />
            </a>
          </h1>
        </div>
        <div class="top-nav">
          <nav class="navbar navbar-default">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
            </button>
            <!-- NavMenu -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <a class="active" href="index.html">Home</a>
                </li>
                <li>
                  <a href="about.html">About</a>
                </li>
                <li>
                  <a href="#stores">Stores</a>
                </li>
                <li>
                  <a class="nav-my-account" href="#">My Account</a>
                </li>
                <li>
                  <a href="#services">Services</a>
                </li>
                <li>
                  <a href="#reviews">Reviews</a>
                </li>
                <li>
                  <a href="#contact">Contact</a>
                </li>
                <li class="flags">
                  <a href="#">
                    <span class="flag-icon flag-icon-us"></span>
                  </a>
                  <a href="#">
                    <span class="flag-icon flag-icon-es"></span>
                  </a>
                  <a href="#">
                    <span class="flag-icon flag-icon-it"></span>
                  </a>
                </li>
                <div class="clearfix"> </div>
              </ul>
            </div>
            <!-- /NavMenu -->
          </nav>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="banner-info">
        <h2>Your online booking and delivery platform</h2>
        <p>Download now the app for your cell phone and let us take care of the whole process of reservations and orders for
          delivery so you can enjoy more of your outings or relax at home while you're waiting for your order.</p>
      </div>
      <div class="banner-grads">
        <div class="col-md-4 banner-grad">
          <div class="banner-grad-img">
            <img src="../assets/images/b1.jpg" alt="" />
            <h4>Lerot</h4>
            <p>
              <span class="storeDescription">Restaurant / Bar</span>
              <br /> Av. Arístides Villanueva 263
            </p>
          </div>
        </div>
        <div class="col-md-4 banner-grad">
          <div class="banner-grad-img">
            <img src="../assets/images/b2.jpg" alt="" />
            <h4>Antares</h4>
            <p>
              <span class="storeDescription">Bar</span>
              <br /> Av. Arístides Villanueva 153
            </p>
          </div>
        </div>
        <div class="col-md-4 banner-grad">
          <div class="banner-grad-img">
            <img src="../assets/images/b3.jpg" alt="" />
            <h4>ZiTTo</h4>
            <p>
              <span class="storeDescription">Restaurant</span>
              <br />Av. Arístides Villanueva 257
            </p>
          </div>
        </div>
        <div class="clearfix"> </div>
        <!-- SearchBox -->
        <div class="search-box">
          <div class="input-group search-input">
            <span class="input-group-addon" id="basic-addon1">
              Today, I want to
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">eat
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">eat</a>
                </li>
                <li>
                  <a href="#">drink</a>
                </li>
              </ul>
            </span>
            <input type="text" class="form-control" placeholder="...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
        <!-- /SearchBox -->
      </div>
    </div>
  </div>
</div>
