<div id="services" class="features">
  <div class="container">
    <div class="features-heading">
      <h3 id="home-page-services-title" translate>home-page.services.title</h3>
    </div>
    <div class="features-grids">
      <div class="col-md-4 features-left">
        <div class="features-left-info">
        </div>
      </div>
      <div class="col-md-8 features-right">
        <div class="features-right-info">
          <h4 id="home-page-services-description" translate>home-page.services.description</h4>
        </div>
        <div class="features-right-grids">
          <div class="home-page-services-more features-right-left" title="Tell me more!">
            <div class="features-right-icon effect-2">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <p>
              <b id="home-page-services-groupReservations1">Group reservations</b>
              <span id="home-page-services-groupReservations2">
                so you can enjoy your outings with your family or friends. The bill can be divided
                individually between the diners or you can pay for all or some of them. You're free to choose!
              </span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="features-right-grids">
          <div class="home-page-services-more features-right-left" title="Tell me more!">
            <div class="features-right-icon effect-2">
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <p>
              <b id="home-page-services-menu">Consult the menu</b>
              <span class="home-page-services-and">and</span>
              <b id="home-services-order">order</b>
              <span id="home-services-whatUWant">
                what you want. You won't have to wait no longer for the waiter to come to your table and take
                your order!
              </span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="features-right-grids">
          <div class="home-page-services-more features-right-left" title="Tell me more!">
            <div class="features-right-icon effect-2">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <p>
              <b id="home-page-services-pay">Pay your order</b>
              <span id="home-page-services-cellphone">
                from your cellphone and you won't have to ask for the bill and wait no longer for the waiter
                to come and charge you. Available payment methods are:
              </span>
              <i id="home-page-services-cash">cash</i>,
              <i id="home-page-services-credit">credit cards</i>,
              <i id="home-page-services-bank">bank transfers</i>,
              <i id="home-page-services-networks">payment networks</i>
              <span class="home-page-services-and">and</span>
              <i id="home-page-services-credit">online payment systems</i>.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="features-right-grids">
          <div class="home-page-services-more features-right-left" title="Tell me more!">
            <div class="features-right-icon effect-2">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <p>
              <b id="home-page-services-search">Smart search</b>.
              <span id="home-page-services-find">You can find your destination by</span>
              <i id="home-page-services-proximity">proximity</i>
              <span id="home-page-services-gps">using your cellphone's GPS or you can filter stores by</span>
              <i id="home-page-services-food">food</i>
              <span id="home-page-services-or">or</span>
              <i id="home-page-services-drink">drink</i>
              <span id="home-page-services-offered">offered</span>.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
