<app-header></app-header>

<div class="about">
  <div class="container">
    <div class="about-heading">
      <h2 translate>about-page.title</h2>
    </div>
    <div class="about-grids">
      <div class="col-md-5 wthree-about-left">
        <div class="wthree-about-left-info">
          <img src="../../../assets/images/n2.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-7 agileits-about-right">
        <h5 translate>about-page.description1</h5>
        <p translate>about-page.description2</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<app-about-team></app-about-team>
