<div class="concerns">
  <div class="menu-heading">
    <h2>Concerns</h2>
  </div>
  <div class="blog-top-left-grid">
    <div class="left-blog left-single">
      <div class="response">
        <h3>Questions / Responses:</h3>
        <div class="media response-info">
          <div class="media-left response-text-left">
            <a href="#">
              <img class="media-object" src="assets/images/t1.jpg" alt="">
            </a>
            <h5>
              <a href="#">Admin</a>
            </h5>
          </div>
          <div class="media-body response-text-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum
              available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul>
              <li>June 21, 2016</li>
            </ul>
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="assets/images/t1.jpg" alt="">
                </a>
                <h5>
                  <a href="#">Admin</a>
                </h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum
                  available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>June 21, 2016</li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="media response-info">
          <div class="media-left response-text-left">
            <a href="#">
              <img class="media-object" src="assets/images/t1.jpg" alt="">
            </a>
            <h5>
              <a href="#">Admin</a>
            </h5>
          </div>
          <div class="media-body response-text-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum
              available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul>
              <li>June 21, 2016</li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="opinion">
        <h2>Ask your questions:</h2>
        <form action="#" method="post">
          <input type="text" name="Name" placeholder="Name" required="">
          <input type="text" name="Email" placeholder="Email" required="">
          <textarea name="Message" placeholder="Message" required=""></textarea>
          <input type="submit" value="SEND" />
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

