<div class="search-box">
  <div class="input-group search-input">
    <span class="input-group-addon" id="basic-addon1">
      <span translate>searchbox.iWant</span>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'searchbox.' + this.menuItemType | translate }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a routerLink="" (click)="changeMenuItemType('eat')" translate>searchbox.eat</a>
        </li>
        <li>
          <a routerLink="" (click)="changeMenuItemType('drink')" translate>searchbox.drink</a>
        </li>
      </ul>
    </span>
    <input type="text"
          name="menuItemCategory"
          class="form-control"
          placeholder="..."
    />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" translate>searchbox.go</button>
    </span>
  </div>
</div>
