<div class="search-box">
  <div class="input-group search-input">
    <span class="input-group-addon" id="basic-addon1">
      Today, I want to
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">eat
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">eat</a>
        </li>
        <li>
          <a href="#">drink</a>
        </li>
      </ul>
    </span>
    <input type="text" class="form-control" placeholder="...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div>
</div>
