<div class="top-nav">
  <nav class="navbar navbar-default">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/" routerLinkActive="active" translate>Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" translate>About</a>
        </li>
        <li>
          <a routerLink="/" fragment="stores" (click)="onNavLinkClick($event)" translate>Stores</a>
        </li>
        <li>
          <a class="nav-my-account" href="#" (click)="onNavLinkClick($event)" translate>My Account</a>
        </li>
        <li>
          <a routerLink="/" fragment="services" (click)="onNavLinkClick($event)" translate>Services</a>
        </li>
        <li>
          <a routerLink="/" fragment="reviews" (click)="onNavLinkClick($event)" translate>Reviews</a>
        </li>
        <li>
          <a routerLink="/" fragment="contact" (click)="onNavLinkClick($event)" translate>Contact</a>
        </li>
        <li class="flags">
          <a href="#">
            <span class="flag-icon flag-icon-us"></span>
          </a>
          <a href="#">
            <span class="flag-icon flag-icon-es"></span>
          </a>
          <a href="#">
            <span class="flag-icon flag-icon-it"></span>
          </a>
        </li>
        <div class="clearfix"> </div>
      </ul>
    </div>
  </nav>
</div>
