<div class="copyright">
  <div class="container">
    <div class="w3agile-list">
      <ul>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="#stores">Stores</a>
        </li>
        <li>
          <a href="#" class="nav-my-account">My Account</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#reviews">Reviews</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="agileinfo">
      <p>© 2017 Appicar. All Rights Reserved. Design by
        <a href="http://w3layouts.com/">W3layouts</a>
      </p>
    </div>
  </div>
</div>
