<div class="response">
  <h3>Reviews</h3>
  <div class="media response-info" *ngFor="let review of reviews">
    <div class="media-left response-text-left">
      <a href="#">
        <img class="media-object" src="{{ review.getClientPicture() }}" alt="{{ review.getClientName() }}">
      </a>
      <h5>{{ review.getClientName() }}</h5>
    </div>
    <div class="media-body response-text-right">
      <p>
        {{ review.getText(lang) }}
      </p>
      <ul>
        <li>{{ review.getDate() }}</li>
        <li>
          <div class="rating">
            <i class="fa fa-star active" *ngFor="let star of review.getStars()"></i>
            <i class="fa fa-star" *ngFor="let star of review.getLackingStars()"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
