<div class="response">
  <h3>Reviews</h3>
  <div class="media response-info">
    <div class="media-left response-text-left">
      <a href="#">
        <img class="media-object" src="assets/images/t1.jpg" alt="">
      </a>
      <h5>
        <a href="#">Admin</a>
      </h5>
    </div>
    <div class="media-body response-text-right">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <ul>
        <li>June 21, 2016</li>
        <li>
          <div class="rating">
            <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="media response-info">
    <div class="media-left response-text-left">
      <a href="#">
        <img class="media-object" src="assets/images/t3.jpg" alt="">
      </a>
      <h5>
        <a href="#">Admin</a>
      </h5>
    </div>
    <div class="media-body response-text-right">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <ul>
        <li>June 21, 2016</li>
        <li>
          <div class="rating">
            <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="media response-info">
    <div class="media-left response-text-left">
      <a href="#">
        <img class="media-object" src="assets/images/t3.jpg" alt="">
      </a>
      <h5>
        <a href="#">Admin</a>
      </h5>
    </div>
    <div class="media-body response-text-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum
        available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ul>
        <li>June 21, 2016</li>
        <li>
          <div class="rating">
            <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
